html {
  background-image : url('./../img/void.jpg');
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body {
  color : white;
  font-family:'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

img:not(.pp) {
  border-radius: 4px;
  border: solid rgb(63, 199, 109, .10);
  animation: borderColor 5s infinite;
  max-width: 100%;
}

.purple-bg {
  background-color: var(--purple);
}

.yellow-bg {
  background-color: var(--yellow);
}

.orange-bg {
  background-color: var(--orange);
}

.red-bg {
  background-color: var(--red);
}

.blue-bg {
  background-color: var(--blue);
}

.space-around-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.paragraph {
  margin-left: 15px;
  margin-right: 5px;
}

.paragraph-with-code {
  margin-left: 2rem;
}

@media (max-width: 640px) {
  .paragraph-with-code {
  margin-left: 1rem;
  }
}