.hobbie-card {
  width: 350px;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--gray-4);
  box-shadow: 0px 0px 15px 1px;
  padding: 1rem;
  margin: 1rem;
}

.hobbie-card img {
  display: block;
  width: 288px;
  margin: 0 auto;
}

.ytb-embed {
  border-radius: 4px;
  border: solid rgb(63, 199, 109, .10);
  animation: borderColor 5s infinite;
  max-width: 90%;
  aspect-ratio: 16/9;
}

.bubble {
  color: black;
  font-family: "Tahoma", sans-serif;
  font-weight: bolder;
  font-size: small;
  border-radius: 12px;
  padding: 5px;
  padding-top: 2px;
  margin: 5px;
  display: inline-block;
  white-space: nowrap;
}

div.code {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}

div.web, iframe.web {
  background-color: white;
  border: solid 2px gray;
  color: black;
  padding: 0.2rem;
  max-width: 800px;
}

iframe.web {
  width: min-content;
  height: 15rem;
  max-height: 25rem; 
  resize: both;
}

.align-result{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.align-result > div {
  flex-grow: 2;
}

pre.code {
  background : var(--gray-3);
  animation: borderColor 5s infinite;

  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;
  border-radius: 5px;
  overflow-x:scroll;
  cursor:text;
}

@media (max-width: 640px) {
  pre.code {
      padding: 0.8rem;
      font-size: 0.8rem;
  }
}

div.console {
  background-color: black;
  border: solid 2px gray;
  font-family: "Lucida Console";
  color: white;
  padding: 0.5rem;
  max-width: 800px;
}

div.doc-summary {
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.parts {
  /*border: solid white;*/
  display: flex;
  padding: 0.5rem;
  margin: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

div.parts > a {
  color: white;
  background-color: rgb(90, 90, 90, 0.8);

  height: 2rem;
  display: inline-block;
  line-height: 1.9;
  padding: 0.2rem;

  border-radius: 0.5rem;

  text-decoration: none;
  transition: 200ms;
}

div.parts > a:active {
  transform: translate(0%, 10%);
  background-color: var(--green);
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 640px) {
  div.parts > a:hover {
      transform: translate(0%, 10%);
      background-color: var(--green);
  }
}

a.go-up {
  outline:none;
  text-decoration:none;
  background: var(--green);
  color: black;

  width: 50px;
  height: 40px;
  display:inline-block;

  line-height:2.5;
  text-align:center;
  border:solid black 3px;
  border-radius:20px;
  
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 9;
}

.contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  height: calc(90vh - 80px);
}

.contact-row > div {
  height: min-content;
  
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 500ms ease-in-out;
  padding: 1rem;
}

.holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
}

.holder span {
  position: absolute;
  left: 2rem;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  pointer-events: none;
  transition: .5s ease-in-out;
  color: var(--bright-green);
}

.holder input {
  height: 2.5rem;
  margin: auto;
  border: 1px solid var(--bright-green);
  border-radius: 1rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: white;
  transition: 500ms ease-in-out;
  box-shadow: inset 0 0 0.5rem var(--bright-green);
}

.holder textarea {
  width: 30vw;
  height: 10rem;
  border: 1px solid var(--bright-green);
  border-radius: 0.4rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  color: white;
  padding: 1rem 1.5rem;
  transition: 500ms ease-in-out;
  box-shadow: inset 0 0 0.5rem var(--bright-green);
}

.holder > input:valid~span, .holder > input:focus~span {
  left: 3rem;
  top: -.5rem;
  font-size: 1rem;
  padding: 0 .5rem;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--bright-green);
  border-radius: 10rem;
  color: #1A1722;
}

textarea:valid~span,
textarea:focus~span{
  top: -.5rem;
  left: 5rem;
  font-size: 1rem;
  padding: 0 .5rem;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--bright-green);
  border-radius: 10rem;
  color: #1A1722;  
}

.contact-row button {
  height: 2.5rem;
  margin: auto;
  border: 1px solid var(--bright-green);
  border-radius: 1rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  padding: 0 2rem;
  color: white;
  transition: 200ms ease-in-out;
  box-shadow: inset 0 0 0.5rem var(--bright-green);

}
.contact-row button:hover{
  background-color: transparent;
  border: 2px solid var(--bright-green);
  box-shadow: inset 0 0 2rem var(--bright-green);
  color: white;
}

.contact-row button:active{
  background-color: var(--bright-green);
  border: 2px solid var(--bright-green);
  transition: 50ms;
  color: #1A1722;
}

div.black-band {
  background-color: black;
  
  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  padding-left: 4vw;
  padding-right: 4vw;
}