:root {
  /* Couleur primaire — passée du vert au blanc */
  --gray-3-green: #343835;
  --gray-0: #cecece;
  --gray-1: rgb(150 150 150 / 0.9);
  --gray-2: #6a6a6a;
  --gray-3: rgb(50 50 50);
  --gray-4: rgb(30 30 30 / 0.8);
  --purple: #b26eff;
  --yellow: #ecf56b;
  --red: #ff5d5d;
  --orange: #feb31e;
  --blue: #43a1ff;
}